<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글보기</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script th:src="@{/js/utils.js}"></script>
    <script>
        window.onload = function (){
            const btnComplete= document.querySelector('.btnComplete');

            const Form = document.getElementsByTagName('form')[0];
            const commentList = document.querySelector('.commentList');
            const notFoundComment = document.querySelector('.notFoundComment');

            // 동적 이벤트 처리
            document.addEventListener('click', async function(e){

                if(e.target.classList =='remove'){
                    e.preventDefault();

                    if(!confirm('삭제하시겠습니까?')){
                        return;
                    }

                    const article = e.target.closest('article');
                    const no = e.target.dataset.no;

                    console.log(no);

                    const data = await fetchDelete('/sboard/comment/'+no);

                    console.log(data)

                    if(data){
                        article.remove();
                    }


                }
            });




            btnComplete.addEventListener('click', async function (e){

                e.preventDefault();
                const jsonData = {
                    "parent":Form.parent.value,
                    "writer":Form.writer.value,
                    "content":Form.content.value
                };
                console.log(jsonData)

                const data = await fetchPost('/sboard/comment',jsonData)
                console.log(data)
                if(data!=null){
                    const html = `<article>
                                            <span class="nick">${data.user.uid}</span>
                                            <span class="date">${data.rdate}</span>
                                            <p class="content">${data.content}</p>
                                            <div>
                                                <a href="#" class="remove">삭제</a>
                                                <a href="#" class="modify">수정</a>
                                            </div>
                                        </article>`;

                    commentList.insertAdjacentHTML('beforeend',html);
                }

                if (notFoundComment) {
                    notFoundComment.remove();
                }
                Form.content.value = '';

            })
        }//onload
    </script>
</head>
<body>
<div id="wrapper">
    <th:block th:include="/article/header.html"/>
    <main id="board">
        <section class="view">
            <nav>
                <h1>글보기</h1>
            </nav>
            <table border="0">
                <tr>
                    <th>제목</th>
                    <td><input type="text" name="title" th:value="${article.title}" readonly/></td>
                    </tr>
                    <tr th:if="${article.file > 0}">
                        <th>파일</th>
                        <td>
                            <th:block th:each="file:${article.fileList}">
                                <a th:href="@{/file/download/{fno}(fno=${file.fno})}">[[${file.oName}]]</a>&nbsp;<span>[[${file.download}]]</span>회 다운로드
                            </th:block>
                        </td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td>
                            <textarea name="content" readonly>[[${article.content}]]</textarea>
                        </td>
                    </tr>                    
                </table>
                
                <div>
                    <a th:href="@{/article/delete(no=${article.no})}" class="btn btnRemove">삭제</a>
                    <a th:href="@{/article/modify(no=${article.no})}" class="btn btnModify">수정</a>
                    <a th:href="@{/article/list}" class="btn btnList">목록</a>
                </div>

                <!-- 댓글목록 -->
                <section class="commentList">
                    <h3>댓글목록</h3>                   

                    <th:block th:if="${comments.size() > 0}">
                        <article th:each="comment : ${comments}">
                            <span class="nick">[[${comment.user.nick}]]</span>
                            <span class="date">[[${comment.rdate}]]</span>
                            <p class="content">[[${comment.content}]]</p>
                            <div>
                                <a href="#" class="remove" th:data-no="${comment.no}">삭제</a>
                                <a href="#" class="modify">수정</a>
                            </div>
                        </article>
                    </th:block>
                    <p th:if="${comments.size() == 0}" class="notFoundComment">등록된 댓글이 없습니다.</p>

                </section>

                <!-- 댓글쓰기 -->
                <section class="commentForm">
                    <h3>댓글쓰기</h3>
                    <form>
                        <input type="hidden" name="parent" th:value="${article.no}" />
                        <input type="hidden" name="writer" th:value="${#authentication.principal.user.uid}" />
                        <textarea name="content" placeholder="댓글내용 입력"></textarea>
                        <div>
                            <a href="#" class="btn btnCancel">취소</a>
                            <input type="submit" value="작성완료" class="btn btnComplete"/>
                        </div>
                    </form>
                </section>

            </section>
        </main>
        <th:block th:include="/article/footer.html"/>
    </div>    
</body>
</html>