<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
    <script>
        window.onload=function (){
            // 네이버 로그인
            let naverLogin = new naver.LoginWithNaverId(
                {
                    clientId: "client id 입력",
                    callbackUrl: "callback url 입력",
                    isPopup: false,
                    callbackHandle: true
                }
            );
            naverLogin.init();
            window.addEventListener('load', function () {
                naverLogin.getLoginStatus(function (status) {
                    if (status) {
                        const token = naverLogin.user.id;
                        apiLogin(`naver_${token}`, `naver_pw_${token}`, 2);
                    }
                });
            });
        }
    </script>
</head>
<body>
    <div id="wrapper">
        <header>
            <h3>Board System</h3>
        </header>
        <main id="user">
            <section class="login">
                <form method="post">
                    <table border="0">
                        <tr>
                            <td><img th:src="@{/img/login_ico_id.png}" alt="아이디"/></td>
                            <td><input type="text" name="uid" placeholder="아이디 입력"/></td>
                        </tr>
                        <tr>
                            <td><img th:src="@{/img/login_ico_pw.png}" alt="비밀번호"/></td>
                            <td><input type="password" name="pass" placeholder="비밀번호 입력"/></td>
                        </tr>
                    </table>
                    <input type="submit" value="로그인" class="btnLogin"/>

                    <a th:href="@{/oauth2/authorization/google}">
                        <img th:src="@{/img/web_light_rd_SI@1x.png}" alt="google">
                    </a>

                    <a id="naverIdLogin_loginButton">
                        <img style="height:50px; width:200px;" th:src="@{/img/btnW_완성형.png}">
                    </a>
                </form>
                <div>
                    <h3>회원 로그인 안내</h3>
                    <p>
                        아직 회원이 아니시면 회원으로 가입하세요.
                    </p>
                    <div style="text-align: right;">
                        <a th:href="@{/user/findId}">아이디 |</a>
                        <a th:href="@{/user/findPass}">비밀번호찾기 |</a>
                        <a th:href="@{/user/terms}">회원가입</a>
                    </div>                    
                </div>
            </section>
        </main>
        <th:block th:include="/article/footer.html"/>
    </div>    
</body>
</html>