<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>약관</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const termsCheckbox = document.querySelector('input[type="checkbox"].terms');
            const privacyCheckbox = document.querySelector('input[type="checkbox"].privacy');
            const nextButton = document.querySelector('.btnNext');

            nextButton.addEventListener('click', function(event) {
                event.preventDefault(); // 기본 동작을 항상 멈춥니다.

                if (!termsCheckbox.checked || !privacyCheckbox.checked) {
                    alert("사이트 이용약관과 개인정보 취급방침에 모두 동의해야 회원가입이 가능합니다.");
                } else {
                    // 체크박스가 모두 체크되었을 때 다음 페이지로 이동
                    window.location.href = this.getAttribute('href');
                }
            });
        });
    </script>
</head>
<body>
<div id="wrapper">
    <header>
        <h3>Board System</h3>
    </header>
    <main id="user">
        <section class="terms">
            <h2 class="tit">사이트 이용약관</h2>
            <table border="1">
                <tr>
                    <td>
                        <textarea name="terms" th:text="${terms.terms}" readonly>약관내용</textarea>
                        <label><input type="checkbox" class="terms">&nbsp;동의합니다.</label>
                    </td>
                </tr>
            </table>

            <h2 class="tit">개인정보 취급방침</h2>
            <table border="1">
                <tr>
                    <td>
                        <textarea name="privacy" th:text="${terms.privacy}" readonly>약관내용</textarea>
                        <label><input type="checkbox" class="privacy">&nbsp;동의합니다.</label>
                    </td>
                </tr>
            </table>

            <div>
                <a th:href="@{/user/login}" class="btn btnCancel">취소</a>
                <a th:href="@{/user/register}" class="btn btnNext">다음</a>
            </div>

        </section>
    </main>
    <th:block th:include="/article/footer.html"/>
</div>
</body>
</html>